<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Food / Drink</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >	

	<ion-segment  mode="ios" [(ngModel)]="segment" fab fab-fixed>
	    <ion-segment-button value="recent" >
	      RECENT
	    </ion-segment-button>
	    <ion-segment-button value="frequent">
	      FREQUENT
	    </ion-segment-button>
	     <ion-segment-button value="myfood">
	      MY FOODS
	    </ion-segment-button>
  	</ion-segment>
    
    <ion-item-group *ngIf="segment === 'recent'">
    	<ion-item-divider light mode="ios">
            <h2>Recent Items</h2>
        </ion-item-divider>

      	<ion-item *ngFor="let food of recent" (click)="viewFood(food)">
      		<h2>{{food.food_name}}</h2>
      	</ion-item>
    </ion-item-group>  

    <ion-item-group *ngIf="segment === 'frequent'">
    	<ion-item-divider light mode="ios">
            <h2>Frequent Items</h2>
        </ion-item-divider>

      	<ion-item *ngFor="let food of frequent" (click)="viewFood(food)">
      		<h2>{{food.food_name}}</h2>
      	</ion-item>
    </ion-item-group> 

    <ion-item-group *ngIf="segment === 'myfood'">
    	<ion-item-divider light mode="ios">
            <h2>My Food Items</h2>
        </ion-item-divider>
      	<ion-item *ngFor="let food of myfood" (click)="viewFood(food)">
      		<h2>{{food.food_name}}</h2>
      	</ion-item>
    </ion-item-group>   	
	
	 <ion-fab right bottom #fab>
        <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <span class="tooltip-label">Create Food</span>
          <button ion-fab (click)="createFood(fab)"><ion-icon name="md-restaurant"></ion-icon></button>     
        </ion-fab-list>
    </ion-fab>

</ion-content>