<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >{{plan.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group *ngFor="let meal of mealPlans" class="planwrap">
    <ion-item-divider light>
        <h2>{{meal}}</h2>
        <ion-note item-end>{{calculate(meal)}} cal</ion-note>
    </ion-item-divider>

    <ion-item  *ngFor="let food of planData[meal]">
        <h2>{{food.food_name}} - {{food.serving_size*food.serve_unit}} {{food.short_name}}</h2>
        <ion-note item-end>{{food.serving_size*food.calories}}</ion-note>
    </ion-item> 

  </ion-item-group>  
  
  <ion-list fab--bottom>
    <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="ViewMacro()" block gradient-button-gray>View Macros</button>
        </ion-col>
    </ion-row>

  </ion-list>  

</ion-content>