page-speaker-list {
  .scroll-content {
    background: #EDEDED;
  }

  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    ion-card-content {
      flex: 1 1 auto;
    }
  }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(min-width: 769px) {
    .speaker-card {
      height: 370px;
    }
  }

  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }

  .speaker-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
  }
}

[notearea]{
  margin-top:16px;

  ion-textarea{
    max-width: 100%;
    width: 100%;
    height: 40vh;
  }

  textarea{
    height: 40vh;
    resize:both;
  }
}
[notesave]{
  text-align:center;
}

[ion-icon-large]{
  font-size:2em;
}

page-calendar{margin-top:60px;}

[fab--bottom] {
  padding-bottom: 30px;
}

ion-searchbar { border:1px solid rgba(3, 3, 3, 0.1) !important; background:#fff !important;}

page-nutrition,page-plans{
  [item-start]{
     margin:0 5px 0 0  !important;
  }

  .planwrap .input-wrapper {
      padding-left: 15px;
  }
  
} 

[inwrapper] .input-wrapper {
    padding-left: 15px;
}

[gradient-button-gray]{background-color:rgba(14, 1, 1, 0.37); color:#fff;}

[fabbottom] {
    position: fixed !important;
    right: 23px !important;
}
.bg-transparent {
      background: rgba(0, 0, 0, 0.33);
}

.days-btn.today {
  background:#488aff;

  p {
    color:#fff !important;
  }
}

ion-calendar{
  padding:0 !important;
}
ion-calendar .title {
 background:#488aff; 
}

ion-calendar .title * {
  color:#fff !important
}

[no-shadow] {
  box-shadow: 0 0 0 transparent;
}

[no-ellipse],
[no-ellipse] *{
   white-space: inherit;
  overflow: inherit;
  text-overflow: inherit;
}

ion-item-divider * {
 font-weight:bold !important 
}

ion-item-divider {
 padding-left:0 !important 
}

[addfood--drink]{ color: map-get($colors, primary) !important;}